{% extends 'movie_rec/base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% crispy rating_formset rating_formset_helper %}

{% block content %}
<article class="media content-section">
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Rate some movies!</legend>
        {% crispy formset helper %}
    </fieldset>
</article>

{% if user_ratings %}
<article class="media content-section">
    <div class="container">
        <div class="row">
            <p>Your ratings:</p>
        </div>
        <div class="row">
            <div class="md-6">
                <table class="table table-hover table-sm table-bordered">
                    {% for rating in user_ratings %}
                    <tr>
                        <td><b>{{ rating.rating }}</b></td>
                        <td>{{ rating.movie.title }}</td>
                        <td><a href="{% url 'rating-delete' rating.id %}">❌</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</article>
{% endif %}

{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ formset.media }}
{% endblock %}